@model Student
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Add - Student";

}


    <div class="row mb-3 mt-3">
        <div class="col-2"></div>
        <div class="col-8"> 
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input asp-for="@Model.Name" class="form form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="@Model.Gender" class="col-form-label"></label>
            <input asp-for="@Model.Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Age" class="col-form-label"></label>
            <input asp-for="@Model.Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Email" class="col-form-label"></label>
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Password" class="col-form-label"></label>
            <input asp-for="@Model.Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CPassword" class="col-form-label"></label>
            <input asp-for="@Model.CPassword" class="form-control" />
            <span asp-validation-for="CPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.deptId" class="form-label mt-4">Department</label>
            <select asp-for="@Model.deptId" class="form-select" >
                @foreach (Department dept in ViewBag.Departments)
                {
                    <option value="@dept.DeptId">@dept.DeptName</option>
                }
            </select>
            <span asp-validation-for="@Model.deptId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.stdImg" class="col-form-label">Student Image</label>
            <input asp-for="@Model.stdImg" class="form-control" />
            <span asp-validation-for="stdImg" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
      </div>
        <div class="col-2"></div>
    </div>

@section ValidationLibraries{
    <partial name="_ValidationScriptsPartial" />
}


@* 
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@

