@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageCourses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>

    <h1 class="mx-2 mb-5">@ViewBag.DeptName Department</h1>
    <div class="m-auto" style="width:90%">

        <form method="post">
            <div class="row mb-3 mt-2 d-flex justify-content-between">
            
                <div  class="col-6 border-2">
                    <h3>
                        Courses In Dept
                    </h3>
                    <select class="d-inline-block" style="width:80%;" name="coursesToRemove" multiple>
                        @foreach (Course item in ViewBag.crsInDept)
                        {
                            <option value="@item.Id">@item.CrsName</option>
                        }
                    </select>
                </div>
                <div class="col-6 border-1">
                    <h3>
                        Courses Not In Dept
                    </h3>
                    <select class="d-inline-block" style="width:80%" name="coursesToAdd" multiple>
                    @foreach (Course item in ViewBag.crsNotInDept)
                        {
                            <option value="@item.Id">@item.CrsName</option>
                        }
                    </select>
                </div>
            </div>

            <input class="align-content-end" type="Submit" value="Update" />
        </form>
    </div>
</body>
</html>
